<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Core Online Tutorial - User Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
    href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
    rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
    th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../static/css/spring-core.css"
    th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">

        <h2>User Details</h2>
        <div>
            <form class="form-horizontal" th:object="${user}"
                th:action="@{/user}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Create username:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{username}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Create password:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{password}" />
                        <!--                     TODO Confirm password -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Add age: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{age}" />
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
                <div>
                    <a href="/">BACK</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>